@import '../scss/base/_extends.scss';
@import '../scss/base/_mixins.scss';

/* Variables */
$atext: center;

/* Selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background-image: linear-gradient(black, rgb(12, 12, 12));
	font-family: Arial, Helvetica, sans-serif;
}
section {
	margin: 8% 0;
}
a {
	&:link {
		text-decoration: none; 
    }
    &:hover {
		text-decoration: underline;
	}
}
ul {
	list-style: none;
}
.titles {
	font-family: 'Limelight';
	margin: 5% 0;
	text-align: $atext;
	font-size: 50px;
	letter-spacing: 4px;
}
footer {
    text-align: $atext;
}
.redes-container {
    @extend %flex-center;
    padding: 3% 0; 
    .redes {
        width: 18%;
        display: flex;
        justify-content: space-around; 
    }
}
.banda img {
    width:100%;
}
.banda-integrantes {
    text-align: $atext;
    font-size: 25px;
    position: relative;
    bottom: 180px; 
    ul {
        li {
            padding: 0.2%;
        }
    }
}
.otintegrantes {
    font-size:40px; }

.videos-grid {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 8%;
    grid-row-gap: 20%;
    justify-content: center;
    padding-bottom:12%;
    .videos-grid-item {
        width:120%;
        height: 135%;
    }
    .masvideos {
        text-align: $atext;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
.foto-container {
    @extend %flex-center;
    .foto {
        display: flex;
        width:100%;
        .content {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: auto;
            overflow: hidden;
            :hover .content-overlay{
                opacity: 1;
            }
            .content-overlay {
                background: rgba(0,0,0,0.7);
                position: absolute;
                height: 100%;
                @include pos(150%,-25px,-35px);
                bottom: 0;
                right: 0;
                opacity: 0;
                transition: all 0.4s ease-in-out 0s;
            }
            .content-image {
                width: 100%;
            }
            .content-details {
                position: absolute;
                text-align: $atext;
                padding-left: 1em;
                padding-right: 1em;
                @include pos(150%,-25px,-35px);
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out 0s;
              }
              :hover {
                .content-details {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                    h3 {
                        color: #fff;
                        font-weight: 500;
                        font-size:20px;
                        letter-spacing: 0.15em;
                        margin-bottom: 0.5em;
                    }
                    p {
                        color: #fff;
                        font-size:15px;
                    }
                }
            }
            .fadeIn-bottom {
                top: 80%;
            }
          }
    }
}
.textobio {
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}

.biotitle {
    writing-mode:vertical-lr;
    text-orientation: upright;
    font-size: 60px;
}

.fotos-container {
    @extend %flex-center;
    flex-wrap:wrap;
    .fotos {
        @extend %flex-center;
        flex-wrap:wrap;
        .maximg {
            &:hover {
                position:relative;
                @include pos(150%,-25px,-35px);
            }
        }
    }
}

@media (max-width: 600px) {
    .biotitle {
      writing-mode: horizontal-tb;
    }
  }
